:root{

}



*{box-sizing: border-box;}




/* classes */

.header-link:hover{
    color: red;
}

.social-link{
    font-size: 25px;
}

.social-link:hover{
    color: red;
}

.learn{
    font-weight: 500;
}

/* ids */